*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

.header {
  background-color: #F8F7F1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  height: 50px;
  width: 100%;
  position: relative;
  max-width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

  .header_list {
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 250px;
    top: 50px;
    left: -250px;
    transition: left 500ms ease;
  }

    .header_list.active {
      left: 0;
      transition: left 500ms ease;
      background: rgba(255, 255, 255, .3);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      border: 1.5px solid rgba(209, 213, 219, 0.3);
    }

  .header_list_item {
    /* background-color: #F8F7F1; */
    min-width: max-content;
    cursor: pointer;
    height: 36px;
    border-bottom: 1px solid;
    text-align: center;
    line-height: 30px;
    padding: 0 8px;
    transition: all 0.3s ease;
    transform: scale(0.85);
  }

  .header_list_item:hover {
    top: 0;
    transform: scale(1)
  }

  .header_menu, .car_button {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }

  .car_button:hover,
  .header_menu:hover {
    /* top: 0; */
    transform: scale(1.2)
  }

  .nav_container_button_menu,
  .nav_container_button_car {
    align-content: flex-end;
  }

  .menu_close,
  .menu_open.active {
    display: none;
  }

  .menu_close.active {
    display: block;
  }

  .menu_car {
    position: absolute;
    top: 50px;
    right: -100%;
    width: 100%;
    height: calc(100vh - 50px);
    padding: 24px;
    background: rgba(255, 255, 255, .3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
  }

    .menu_car.active {
      right: 0px;
      transition: right 500ms ease;
    }

main {
  /* width: 100vh; */
  height: 100%;
  background-color: lightseagreen;
}

  .section {
    background-color: #F8F7F1;
    width: 100%;
    min-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  .section_list {
    margin: 0;
  }

  .product {
    width: 170px;
    border-radius: 10px;
    padding: 10px;
    gap: 12px ;
    /* old browsers */
    background: -moz-linear-gradient(-45deg, #F8F7F1 12%, #caa6a1 83%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #F8F7F1 12%, #caa6a1 83%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #F8F7F1 12%, #caa6a1 83%);
    -webkit-box-shadow: -9px 10px 5px 0px rgba(189,182,189,1);
    -moz-box-shadow: -9px 10px 5px 0px rgba(189,182,189,1);
    box-shadow: -9px 10px 5px 0px rgba(189,182,189,1);

  }

  .product_img img {
    max-width: 100%;
  }

  .product_img img:hover {
    transform: scale(1.2);
    transition: 500ms ease;
  }

  .product_description h4, 
  .product_description p,
  .car_product_description h4,
  .car_product_description p {
    font-size: 9pt;
    font-weight: lighter;
  }

  .product_description h3, .car_product_description h3 {
    font-size: 9pt;
    font-weight:900;
  }

  . {
    font-size: 9pt;
    font-weight: lighter;
  }

  .btn_buy {
    padding:  4px;
    border-radius: 15px;
    background-color: transparent;
  }

  .car_products {
    height: 80%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .car_total {
    background-color: #F8F7F1;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #F8F7F1;
    border-radius: 15px;
  }

  .btn_pay{
    padding: 4px;
  }

  .car_product_image {
    height: 100%;
  }

  .car_product_image img {
    width: 80px;
  }

  .car_product {
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 30%;
    /* old browsers */
    background: -moz-linear-gradient(-45deg, #F8F7F1 12%, #caa6a1 83%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #F8F7F1 12%, #caa6a1 83%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #F8F7F1 12%, #caa6a1 83%);
  }

  .car_counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
  }
  
  .trash, .btn_minus, .btn_plus {
    width: 20px;
    cursor: pointer;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, .3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
  }

  .modal.active {
    display: flex;
  }

  .modal_product {
    background-color: #F8F7F1;
    width: 90%;
    height: 90%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
  }

  .modal_product>span {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
  }

  .modal_img_product {
    max-width: 100%;
  }

  .modal_group span {
    color:rgb(185, 34, 34);
  }



@media (min-width: 400px) {
  
  .header {
    justify-content: space-evenly;
  }
  
  .header_menu {
    display: none;
  }

  .header_list {
    /* display: flex; */
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    position: static;
    width: fit-content;
  }

  .menu_car {
    width: 500px;
    background: rgba(255, 255, 255, .3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
  }

}

